@font-face {
  font-family: 'Regular';
  src: 
    url('../fonts/helveticaneue/regular.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Light';
  src: 
    url('../fonts/helveticaneue/light.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Medium';
  src: 
    url('../fonts/helveticaneue/medium.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Bold';
  src: 
    url('../fonts/helveticaneue/bold.ttf') format('truetype'); 
}
@font-face {
  font-family: 'UltraLight';
  src: 
    url('../fonts/helveticaneue/ultralight.ttf') format('truetype'); 
}


body {
  padding-bottom: 40px;
  background-color: #A1C820 !important;
  min-height: 800px;
}

.navbar {
  background-color: rgba(0,0,0,0.5);
  border-bottom: none;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.navbar-default .navbar-brand {
  color: #fff !important;
}

.navbar-default .navbar-nav>li>a {
  font-family: 'Light';
  color: #fff;
  font-size: 16px;
}

.navbar-default .navbar-nav>li>a:hover {
  font-family: 'Light';
  color: #333;
  font-size: 16px;
}

.navbar-default .navbar-nav>.active>a {
  background-color: transparent !important;
  font-family: 'Bold';
  color: #fff;
  font-size: 16px;
}

.navbar-default .navbar-toggle {
  border-color: transparent !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff !important;
}

.navbar-default .navbar-toggle:hover {
  background-color: rgba(0,0,0,0.5);
}

.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signup-heading {
  font-family: 'Bold';
  font-size: 38px;
  color: #fff;
  text-transform: lowercase;
  text-align: center;
}
.form-signup .form-signup-heading,
.form-signup .checkbox {
  margin-bottom: 40px;
}
.form-signup .checkbox {
  font-weight: normal;
}
.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}
.form-signup input[type="email"] {
  margin-bottom: -1px;
}
.form-signup input[type="password"] {
  margin-bottom: 10px;
}

.form-group label {
  font-family: 'Light';
  color: #424242;
}

.signmeup {
  width: 100%;
  height: 45px;
  margin: 20px 0 20px 0;
  background-color: #660066;
  border: none;
  color: #fff;
  font-family: 'Light';
  font-size: 18px;
  border-radius: 4px;
}

.signmeup:disabled {
  color: #AA7FAA;
  background-color: #4C004C;
}
